.circle-container {
  position: absolute;
  transform: translateY(-10vh);
}
.circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(#99ffff, #99ffff 10%, rgba(153, 255, 255, 0) 56%);
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
.circle-container:nth-child(1) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-1;
          animation-name: move-frames-1;
  -webkit-animation-duration: 33000ms;
          animation-duration: 33000ms;
  -webkit-animation-delay: 21321ms;
          animation-delay: 21321ms;
}
@-webkit-keyframes move-frames-1 {
  from {
    transform: translate3d(31vw, 102vh, 0);
  }
  to {
    transform: translate3d(55vw, -114vh, 0);
  }
}
@keyframes move-frames-1 {
  from {
    transform: translate3d(31vw, 102vh, 0);
  }
  to {
    transform: translate3d(55vw, -114vh, 0);
  }
}
.circle-container:nth-child(1) .circle {
  -webkit-animation-delay: 3896ms;
          animation-delay: 3896ms;
}
.circle-container:nth-child(2) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-2;
          animation-name: move-frames-2;
  -webkit-animation-duration: 32418ms;
          animation-duration: 32418ms;
  -webkit-animation-delay: 16006ms;
          animation-delay: 16006ms;
}
@-webkit-keyframes move-frames-2 {
  from {
    transform: translate3d(40vw, 104vh, 0);
  }
  to {
    transform: translate3d(75vw, -107vh, 0);
  }
}
@keyframes move-frames-2 {
  from {
    transform: translate3d(40vw, 104vh, 0);
  }
  to {
    transform: translate3d(75vw, -107vh, 0);
  }
}
.circle-container:nth-child(2) .circle {
  -webkit-animation-delay: 2800ms;
          animation-delay: 2800ms;
}
.circle-container:nth-child(3) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-3;
          animation-name: move-frames-3;
  -webkit-animation-duration: 31983ms;
          animation-duration: 31983ms;
  -webkit-animation-delay: 29593ms;
          animation-delay: 29593ms;
}
@-webkit-keyframes move-frames-3 {
  from {
    transform: translate3d(7vw, 102vh, 0);
  }
  to {
    transform: translate3d(69vw, -121vh, 0);
  }
}
@keyframes move-frames-3 {
  from {
    transform: translate3d(7vw, 102vh, 0);
  }
  to {
    transform: translate3d(69vw, -121vh, 0);
  }
}
.circle-container:nth-child(3) .circle {
  -webkit-animation-delay: 1465ms;
          animation-delay: 1465ms;
}
.circle-container:nth-child(4) {
  width: 2px;
  height: 2px;
  -webkit-animation-name: move-frames-4;
          animation-name: move-frames-4;
  -webkit-animation-duration: 28419ms;
          animation-duration: 28419ms;
  -webkit-animation-delay: 4066ms;
          animation-delay: 4066ms;
}
@-webkit-keyframes move-frames-4 {
  from {
    transform: translate3d(83vw, 104vh, 0);
  }
  to {
    transform: translate3d(95vw, -113vh, 0);
  }
}
@keyframes move-frames-4 {
  from {
    transform: translate3d(83vw, 104vh, 0);
  }
  to {
    transform: translate3d(95vw, -113vh, 0);
  }
}
.circle-container:nth-child(4) .circle {
  -webkit-animation-delay: 2120ms;
          animation-delay: 2120ms;
}
.circle-container:nth-child(5) {
  width: 6px;
  height: 6px;
  -webkit-animation-name: move-frames-5;
          animation-name: move-frames-5;
  -webkit-animation-duration: 34367ms;
          animation-duration: 34367ms;
  -webkit-animation-delay: 27702ms;
          animation-delay: 27702ms;
}
@-webkit-keyframes move-frames-5 {
  from {
    transform: translate3d(62vw, 105vh, 0);
  }
  to {
    transform: translate3d(25vw, -129vh, 0);
  }
}
@keyframes move-frames-5 {
  from {
    transform: translate3d(62vw, 105vh, 0);
  }
  to {
    transform: translate3d(25vw, -129vh, 0);
  }
}
.circle-container:nth-child(5) .circle {
  -webkit-animation-delay: 2611ms;
          animation-delay: 2611ms;
}
.circle-container:nth-child(6) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-6;
          animation-name: move-frames-6;
  -webkit-animation-duration: 28772ms;
          animation-duration: 28772ms;
  -webkit-animation-delay: 9718ms;
          animation-delay: 9718ms;
}
@-webkit-keyframes move-frames-6 {
  from {
    transform: translate3d(62vw, 107vh, 0);
  }
  to {
    transform: translate3d(35vw, -120vh, 0);
  }
}
@keyframes move-frames-6 {
  from {
    transform: translate3d(62vw, 107vh, 0);
  }
  to {
    transform: translate3d(35vw, -120vh, 0);
  }
}
.circle-container:nth-child(6) .circle {
  -webkit-animation-delay: 2027ms;
          animation-delay: 2027ms;
}
.circle-container:nth-child(7) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-7;
          animation-name: move-frames-7;
  -webkit-animation-duration: 34296ms;
          animation-duration: 34296ms;
  -webkit-animation-delay: 9430ms;
          animation-delay: 9430ms;
}
@-webkit-keyframes move-frames-7 {
  from {
    transform: translate3d(80vw, 107vh, 0);
  }
  to {
    transform: translate3d(56vw, -113vh, 0);
  }
}
@keyframes move-frames-7 {
  from {
    transform: translate3d(80vw, 107vh, 0);
  }
  to {
    transform: translate3d(56vw, -113vh, 0);
  }
}
.circle-container:nth-child(7) .circle {
  -webkit-animation-delay: 3998ms;
          animation-delay: 3998ms;
}
.circle-container:nth-child(8) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-8;
          animation-name: move-frames-8;
  -webkit-animation-duration: 28194ms;
          animation-duration: 28194ms;
  -webkit-animation-delay: 5475ms;
          animation-delay: 5475ms;
}
@-webkit-keyframes move-frames-8 {
  from {
    transform: translate3d(75vw, 103vh, 0);
  }
  to {
    transform: translate3d(78vw, -108vh, 0);
  }
}
@keyframes move-frames-8 {
  from {
    transform: translate3d(75vw, 103vh, 0);
  }
  to {
    transform: translate3d(78vw, -108vh, 0);
  }
}
.circle-container:nth-child(8) .circle {
  -webkit-animation-delay: 1887ms;
          animation-delay: 1887ms;
}
.circle-container:nth-child(9) {
  width: 1px;
  height: 1px;
  -webkit-animation-name: move-frames-9;
          animation-name: move-frames-9;
  -webkit-animation-duration: 29816ms;
          animation-duration: 29816ms;
  -webkit-animation-delay: 7609ms;
          animation-delay: 7609ms;
}
@-webkit-keyframes move-frames-9 {
  from {
    transform: translate3d(81vw, 104vh, 0);
  }
  to {
    transform: translate3d(67vw, -133vh, 0);
  }
}
@keyframes move-frames-9 {
  from {
    transform: translate3d(81vw, 104vh, 0);
  }
  to {
    transform: translate3d(67vw, -133vh, 0);
  }
}
.circle-container:nth-child(9) .circle {
  -webkit-animation-delay: 1370ms;
          animation-delay: 1370ms;
}
.circle-container:nth-child(10) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-10;
          animation-name: move-frames-10;
  -webkit-animation-duration: 30418ms;
          animation-duration: 30418ms;
  -webkit-animation-delay: 36255ms;
          animation-delay: 36255ms;
}
@-webkit-keyframes move-frames-10 {
  from {
    transform: translate3d(53vw, 108vh, 0);
  }
  to {
    transform: translate3d(86vw, -111vh, 0);
  }
}
@keyframes move-frames-10 {
  from {
    transform: translate3d(53vw, 108vh, 0);
  }
  to {
    transform: translate3d(86vw, -111vh, 0);
  }
}
.circle-container:nth-child(10) .circle {
  -webkit-animation-delay: 2416ms;
          animation-delay: 2416ms;
}
