* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.container2 {
    width: 50%;
    height: 50%;
    overflow: hidden;
	margin : auto;
}

.fondwork {
	background: url(/img/sablier.jpg) no-repeat;
	background-size:cover;
}

.fondeleve {
	background: url(/img/fondeleve.jpg) no-repeat;
	background-size:cover;
}

.fond404 {
	background: url(/img/404.jpg) no-repeat;
	background-size:cover;
}

.essai {
	font-size: xx-large;
}

.formclair {
  --bs-bg-opacity: 0.25;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}