<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exporter Rapport</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center h-screen">
<div class="rounded-lg border shadow-lg p-10 w-3/5">
    <div class="flex flex-row justify-between pb-4">
        <div>
            <h2 class="text-xl font-bold">Rapport de la semaine</h2>
        </div>
    </div>
    <div class="flex flex-col pb-8">
        <div class="pb-2">
            <h2 class="text-xl font-bold">Informations de l'élève</h2>
        </div>
        <th:block th:each="student : ${listStudent}">
            <div>[[${student.nom} + ' ' + ${student.prenom}]]</div>
        </th:block>
    </div>
    <table class="table-fixed w-full text-right border rounded">
        <thead class="bg-gray-100 text-center">
        <tr>
            <th class="text-left pl-4">Branche</th>
            <th>Durée (h)</th>
            <th class="pr-4">Date</th>
            <th>Remarque</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="taches : ${listTasks}">
            <td class="pl-4 text-left">[[${taches.branche}]]</td>
            <td>[[${taches.duree}]]</td>
            <td class="pr-4">[[${taches.date}]]</td>
            <td>[[${taches.remarque}]]</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
