<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Weekly Report</title>
    <link th:href="@{../../../css/report.css}" rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen">
<div class="rounded-lg border shadow-lg p-10 w-3/5">
    <div class="flex flex-row pb-4">
        <div>
            <h2 class="text-xl font-bold">Rapport des travaux de la semaine</h2>
        </div>
    </div>
    <div class="pb-8">
        <div class="pb-2">
            <h2 class="text-xl font-bold">Informations de l'élève</h2>
        </div>
        <div>
            <th:block th:each="student : ${listStudent}">
                <div>
                    Nom de l'élève: [[${student.nom} + ' ' + ${student.prenom}]]
                </div>
                <div>
                    Adresse: [[${student.locality.NPA} + ' ' + ${student.locality.ville}]], VS
                </div>
            </th:block>
        </div>
    </div>
    <table class="table-fixed w-full text-right border rounded">
        <thead class="bg-gray-100">
        <tr>
            <th class="text-left pl-4">Branche</th>
            <th class="text-right">Durée (heure)</th>
            <th class="text-right pr-4">Date</th>
            <th class="text-right">Remarque</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="taches : ${listWorks}">
            <td class="pl-4 text-left">[[${taches.branche}]]</td>
            <td>[[${taches.duree}]]h</td>
            <td class="pr-4">[[${taches.date}]]</td>
            <td>[[${taches.remarque}]]</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
